archives/
DS-TEST-RESULTS/
ci-scripts/mysql-complete.cmd
ci-scripts/temp/ci-*.sh
deploy_results_oai_cn5g.html
ds_tester_results_oai_cn5g.html
cn5g_fed_docker_logs.zip
charts/oai-5g-core/oai-5g-mini/Chart.lock
charts/oai-5g-core/oai-5g-mini/charts/
charts/oai-5g-core/oai-5g-basic/Chart.lock
charts/oai-5g-core/oai-5g-basic/charts/
charts/oai-5g-core/oai-5g-slicing/Chart.lock
charts/oai-5g-core/oai-5g-slicing/charts/
