[submodule "component/oai-amf"]
	path = component/oai-amf
	url = https://gitlab.eurecom.fr/oai/cn5g/oai-cn5g-amf.git
[submodule "component/oai-smf"]
	path = component/oai-smf
	url = https://gitlab.eurecom.fr/oai/cn5g/oai-cn5g-smf.git
[submodule "component/oai-upf-equivalent"]
	path = component/oai-upf-equivalent
	url = https://github.com/OPENAIRINTERFACE/openair-spgwu-tiny.git
[submodule "component/oai-nrf"]
	path = component/oai-nrf
	url = https://gitlab.eurecom.fr/oai/cn5g/oai-cn5g-nrf.git
[submodule "component/oai-ausf"]
	path = component/oai-ausf
	url = https://gitlab.eurecom.fr/oai/cn5g/oai-cn5g-ausf.git
[submodule "component/oai-udm"]
	path = component/oai-udm
	url = https://gitlab.eurecom.fr/oai/cn5g/oai-cn5g-udm.git
[submodule "component/oai-udr"]
	path = component/oai-udr
	url = https://gitlab.eurecom.fr/oai/cn5g/oai-cn5g-udr.git
[submodule "component/oai-upf-vpp"]
	path = component/oai-upf-vpp
	url = https://gitlab.eurecom.fr/oai/cn5g/oai-cn5g-upf-vpp.git
[submodule "component/oai-nssf"]
	path = component/oai-nssf
	url = https://gitlab.eurecom.fr/oai/cn5g/oai-cn5g-nssf.git
[submodule "component/oai-nef"]
	path = component/oai-nef
	url = https://gitlab.eurecom.fr/oai/cn5g/oai-cn5g-nef
[submodule "component/oai-pcf"]
	path = component/oai-pcf
	url = https://gitlab.eurecom.fr/oai/cn5g/oai-cn5g-pcf.git
[submodule "ci-scripts/common"]
	path = ci-scripts/common
	url = https://gitlab.eurecom.fr/oai/cn5g/oai-cn5g-common-ci.git
